section.avatarImg {
  padding-right: 20px;

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}

section.content {
  width: 100%;
  padding: 8px 20px;
  background-color: #37434c;
  list-style: none;
  border-radius: 5px;

  p {
    font-size: 14px;
    color: #61717e;
    margin-top: 8px;
  }

  a {
    display: inline-block;
    margin-top: 16px;
    text-decoration: none;
    color: #8257e6;
  }
}

div.repositoryItem {
  display: flex;
  align-items: center;

  margin-top: 20px;
}

section.repositoryList {
  margin: 40px;

  h1 {
    font-size: 30px;
    color: #8257e6;
    padding-bottom: 12px;
    text-align: center;
    border-bottom: 1px solid #61717e;
  }
}
