section.repositoryList {
  margin: auto;
  width: 80vw;
  max-width: 1200px;

  h1 {
    font-size: 30px;
    color: #8257e6;
    padding-bottom: 12px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #61717e;
  }

  ul div {
    display: flex;
    align-items: center;

    & + div {
      margin-top: 30px;
    }
  }

  div.repositoryItem {
    width: 80vw;
    display: flex;
    align-items: center;

    section.avatarImg {
      padding-right: 20px;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
    }

    section.content {
      width: 100%;
      min-height: 70px;
      padding: 8px 20px;
      background-color: #37434c;
      list-style: none;
      border-radius: 5px;

      p {
        font-size: 14px;
        color: #61717e;
        margin-top: 8px;
      }

      a {
        display: inline-block;
        margin-top: 16px;
        text-decoration: none;
        color: #8257e6;
      }
    }
  }

  .repositoryControls {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

    .controlButton {
      border: 0;
      text-decoration: none;
      height: 30px;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #8257e6;
      color: #fff;
      font-size: 12px;
      font-weight: 600;
      font-family: Arial, Helvetica, sans-serif;
      border-radius: 5px;

      & + .controlButton {
        margin-top: 8px;
      }
    }
  }
}
